{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h1 class="main_h">Профиль</h1>


<div class="block_prof">
    <div class="form-error">{{ from.non_field_errors }}</div>
    <form method="post">
         {% csrf_token %}
        <p class="block_prof_child text_bold text_big_size">Ваши данные</p>
        <p class="block_prof_child text_bold">Чтобы изменить данные внесите изменения в нужные поля и нажмите сохранить.
        Чтобы добавить питомца - введите данные в пустые поля и нажмите сохранить</p>

        <div class="block_prof_child">

            <div class="block_prof_child2">
        <p class="text_bold">{{ form.username.label_tag}}</p>
        <p class="text_bold">{{ form.email.label_tag}}</p>
           <p class="text_bold"> {{ form.first_name.label_tag}}</p>
            <p class="text_bold">{{ form.last_name.label_tag}}</p>
            <p class="text_bold">{{ form.phone.label_tag}}</p>
             </div>
            <br>
            <div class="block_prof_child4">
        <p>{{ form.username}}</p>
        <p>{{ form.email}}</p>
           <p> {{ form.first_name}}</p>
            <p>{{ form.last_name}}</p>
           <p> {{ form.phone}} </p>
                </div>
                <div class="block_prof_child4">
                    <p><button class="btn btn-outline-dark" type="submit">Обновить данные</button></p>
                             <a href="{% url 'users:profile_add_pet' %}">
                                <button type="button" class="btn btn-outline-dark">Добавить питомца</button>
                              </a>
                    </div>

        </div>
        <p class="block_prof_child text_bold text_big_size">Ваши питомцы</p>
        <div class="block_prof_child">

              <div class="block_prof_child3">
                   {% if pets %}
                    <p class="text_bold"> Кличка питомца </p>
                    <p class="text_bold"> Дата рождения</p>
                   <p class="text_bold"> Порода</p>
                    <p class="text_bold">Окрас</p>
                </div>
             <div class="block_prof_child3">
                    {% for el in pets %}
                    <p class="borders">{{ el.nickname }}</p>
                   <p class="borders"> {{ el.birthdate }}</p>
                   <p class="borders"> {{ el.breed }}</p>
                   <p class="borders"> {{ el.color }}</p>
                             <a href="{% url 'users:profile_delete' el.id %}">
                                <button type="button" class="btn btn-outline-dark btn_pofile">Удалить</button>
                              </a>
                            <a href="{% url 'users:profile_edit_pet' el.id %}">
                                <button type="button" class="btn btn-outline-dark">Отредактировать</button>
                              </a>
                         <br>

                    {% endfor %}
                 </div>
                    {% else %}
                 <p class="block_prof_child5">Вы не добавили ни одного питомца</p>
                     {% endif %}

                </div>

        </div>



    </form>
</div>
<script>
            $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
</script>
{% endblock %}
