{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <h1>Запись</h1>
    {% csrf_token %}
    <section class="procedure_list">
        <form method="post">
            <div>
                 <label>Выберите дату приема!</label>
                 <input type="date" id="myDateField" class='form-control' value="{{ day_value }}" min="{{ min_day_value }}" max="{{ max_day_value }}">
                                  <button type="submit" class="btn btn-outline-success"> Проверить время</button>
            </div>
            {% if step1 is True %}
                             <label>Выберите время приема!</label>
                            <select name="time_order" id="select">
                                {% for time in all_time %}
                                <option>{{time}}</option>
                                {% endfor %}

                            </select>
                             <button type="submit" class="btn btn-outline-success"> Записаться</button>
            {% endif %}

                {% if step2 is True %}

             {{ form_client }}<br>
             {{ form_pets }}<br>
             {{ result }}<br>


                    {{ error }}
                 <button class="btn btn-outline-success" type="submit">Отправить заявку</button>
                {% endif %}
        </form>
     </section>

{% endblock %}

