{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <h1>Запись</h1>
    <section class="procedure_list">
        <form method="post">
            <div>
                 <label>Выберите дату приема!</label>
                 <input type="date" id="myDateField" class='form-control' value="{{ day_value }}" min="{{ min_day_value }}" max="{{ max_day_value }}">
                        <a id="myLink" href="{% url 'order' result.name_procedure 'secondbase' %}">
                            <button type="submit" class="btn btn-outline-success"> Проверить время</button>
                        </a>
            </div>
            {% csrf_token %}

             {{ form_client }}<br>
             {{ form_pets }}<br>
             {{ result }}<br>


                    {{ error }}
                 <button class="btn btn-outline-success" type="submit">Отправить заявку</button>
        </form>
     </section>

{% endblock %}

