{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <h1 class="main_h">Наши процедуры</h1>
<div class="content_review">
    <section class="procedure_list">
        {% for el in procedure %}
            {% if el.eng_name_procedure  %}
                <div class="procedure_list_item">
                    <div class="procedure_list_item_child">
                        <a href="{% url 'procedure_named' el.eng_name_procedure  %}">
                           <img src="{% static 'service/img/'|add:el.eng_name_procedure|add:'.png' %}" alt="{{ el.name_procedure }}" />
                        </a>
                    </div>
                    <div class="procedure_list_item_child">
                        <a class="link_procedure" href="{% url 'procedure_named' el.eng_name_procedure  %}">{{ el.name_procedure }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
 </div>
{% endblock %}