{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h1 class="main_h">Профиль</h1>


<div class="block_prof">
    <div class="form-error">{{ from.non_field_errors }}</div>
    <form method="post">
         {% csrf_token %}
        <p class="block_prof_child text_bold text_big_size">Ваши данные</p>
        <p class="block_prof_child text_bold">Чтобы изменить данные внесите изменения в нужные поля и нажмите сохранить.
        Чтобы добавить питомца - введите данные в пустые поля и нажмите сохранить</p>

        <div class="block_prof_child">

            <div class="block_prof_child2">
        <p class="text_bold">{{ form.username.label_tag}}</p>
        <p class="text_bold">{{ form.email.label_tag}}</p>
           <p class="text_bold"> {{ form.first_name.label_tag}}</p>
            <p class="text_bold">{{ form.last_name.label_tag}}</p>
            <p class="text_bold">{{ form.phone.label_tag}}</p>
             </div>
            <br>
            <div class="block_prof_child2">
        <p>{{ form.username}}</p>
        <p>{{ form.email}}</p>
           <p> {{ form.first_name}}</p>
            <p>{{ form.last_name}}</p>
           <p> {{ form.phone}} </p>
                 </div>
        </div>
        <p class="block_prof_child text_bold text_big_size">Ваши питомцы</p>
        <div class="block_prof_child">
              <div class="block_prof_child3">
                    <p class="text_bold"> Кличка питомца </p>
                    <p class="text_bold"> Дата рождения</p>
                   <p class="text_bold"> Порода</p>
                    <p class="text_bold">Окрас</p>

               </div>
               <div class="block_prof_child3">
                     <tr>{{ pets_formset.management_form }}
                    {% for pet_form in pets_formset %}
                          {{ pet_form.id.as_hidden }}
                    <p>{{ pet_form.id }}</p>
                    <p>{{ pet_form.nickname }}</p>
                   <p> {{ pet_form.birthdate }}</p>
                   <p> {{ pet_form.breed }}</p>
                   <p> {{ pet_form.color }}</p>
                        <td>

                                  <span title="Удалить" data-toggle="tooltip" data-placement="top">
                                    {{ pet_form.DELETE }}
                                  </span>
                                       </td>
                         <br>
                     </tr>

                    {% endfor %}
                </div>
            <p><button class="btn btn-outline-dark" type="submit">Сохранить</button></p>
        </div>



    </form>
</div>
<script>
            $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
</script>
{% endblock %}
