{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <h1>Запись</h1>
    {% csrf_token %}
    <form method="post">
    <section class="procedure_list">
        {{ client.id}}<p> Клиент id</p><br>
        {{ client.first_name }}<p> client.first_name</p><br>
        {{ client.last_name }}<p> client.last_name</p><br>
        {{ client.phone }}<p> client.phone</p><br>

        {{ date_temp }}<p> date_temp</p><br>
        {{ time_temp }}<p> time_temp</p><br>
        {{ procedure_id }}<p> procedure_id</p><br><br>
        {{ procedure }}<p> procedure</p><br>
        {{ random_doctor_id }}<p> random_doctor_id</p><br>


        {% for el in pets_formset %}
        {{ el.nickname }} <button type="submit" class="btn btn-outline-success"> Записать </button>
        {% endfor %}


     </section>
     </form>
        <a href="{% url 'schedule' procedure 'base'%}">
    <button type="button" class="btn btn-outline-success">Выбрать другую дату</button>
</a>


{% endblock %}