{% extends 'main/layout.html' %}


{% block content %}
<h1>Контакты</h1>
<p class="content_review">Если вы захотите материально отблагодарить создателя сего
    "шедевра". Можете стучаться в почту saatarko@tut.by.
А так же меня можно найти где-то тут</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42232.377837461965!2d27.498552516850165!3d53.88646013095581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1718045242097!5m2!1sru!2sby" width="1024" height="868" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>






{% endblock %}