{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Груминг" {% endblock %}
{% block content %}
<h1 class="main_h">Груминг</h1>

<div class="content">
<p class="main_text">Регулярная стрижка домашнего питомца — простой способ
    поддерживать его гигиену и здоровье. Колтуны в шерсти или слишком
    длинная шерсть доставляют питомцу дискомфорт, особенно летом, и
    даже могут привести к дерматологическим заболеваниям. В период линьки стрижка
    спасает владельцев от ежедневной уборки шерсти, котов и собак — от изнывания в жару.
    Модельная стрижка собаки или кота подчеркивает принадлежность к определенной породе.
    </p>
   <p class="main_text"> Груминг можно проводить уже с 3 месяцев 1-2 раза в месяц. Тип стрижки подбирается индивидуально в зависимости от типа шерсти, породы и пожеланий хозяина.

Процедура проводится под миорелаксантом, чтобы питомец не нервничал.

Что входит в услугу груминга
Понятие груминга шире, чем просто стрижка. Это целый комплекс гигиенических процедур, которые придают собаке или кошке ухоженный вид, а вместе с тем и облегчают последующий уход за питомцем.

Это и чистка ушей, и удаление из них лишних волосков, и подстригание когтей, и выстригание излишков шерсти между подушечками. Также гигиенический груминг подразумевает "санитарную" стрижку, когда шерсть срезается в паху и под хвостом.

Такую обработку питомца рекомендуется проводить раз в 2-4 недели. После гигиенического груминга ухаживать за любимцем гораздо легче.

Стрижка по корпусу производится по желанию владельца.

Таким образом, комплекс гигиенических процедур для собаки или кошки, не участвующих в выставках, будет включать:
стрижку когтей, выбривание шерсти между подушечками лап;
удаление шерсти в ушах, их чистка;
чистку зубов при необходимости;
чистка параанальных желез при необходимости;
расчесывание или удаление колтунов;
промывку, сушку шерсти;
стрижку и укладку по корпусу, по желанию владельца.
Стрижка особенно необходима в летний период для кошек, чтобы удалить подшерсток, для собак, чтобы снизить риск подцепить клеща или запутаться в репейнике.

Не только эстетика
Груминг – это профилактика и ранняя диагностика кожных, ушных и других заболеваний питомца.

Наша ветеринарная клиника осуществляет чистку и стрижку с использованием высококачественных моющих и ухаживающих средств, индивидуально подбирающихся для животного. Они позволяют надолго сохранять аккуратный внешний вид питомца, улучшают состояние шерсти и кожи, препятствуют появлению аллергии или раздражений.

Наши ветеринары используют самое высокотехнологичное и безопасное оборудование, существующее в данный момент. К примеру, это машинки с лезвием, имеющим антимикробное покрытие, не нагревающимся за счет содержания ионов серебра.

В кабинете есть все необходимые инструменты и средства, поэтому никакая предварительная подготовка питомца не нужна.

Найдем подход к вашему любимцу
Животные по-разному переносят стрижку: некоторым особенно неприятно постороннее вмешательство и ограничение их воли. Чтобы избежать лишних волнений и не нервировать питомца, мы проводим груминг под седацией. Это позволяет собаке или кошке с комфортом перенести процедуру и гарантирует аккуратный результат стрижки. При этом чем чаще производится стрижка, тем легче питомец будет ее переносить в дальнейшем.</p>
</div>

{% endblock %}