{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Домашняя страница {% endblock %}
{% block content %}
<h1 class="main_h">Приветствуем Вас в ветеринарной клинике "Кусочек счастья"</h1>

<div class="content">
<img src="{% static 'main/img/main5.jfif' %}" alt='Кусочек счастья'/>
<p class="main_text">Ветеринарная клиника "Кусочек счастья" основана в 2012 году ветеринарным врачом Сасом Сергеем Николаевичем.
    Изначально была задана высокая планка к профессиональным качествам врачей и других сотрудников, взят вектор на
    высокотехнологическое оснащение, которое позволит более точно диагностировать патологии у собак и кошек и оказывать
    более широкий спектр врачебных манипуляций. Целью было развитие клиники с узкопрофильными специалистами и современным
    оборудованием высокого класса, для обеспечения полного спектра диагностических и лечебных мероприятий в одном месте.
    "Кусочек счастья" - стремление к лучшему!Мы являемся первой клиникой, которая стала проводить черезпросветную
    эндоскопию (гастроскопию, трахеоскопию, отоскопию, риноскопию, колоноскопию, вагиноскопию, цист-уретроскопию),
    что позволило нам диагностировать патологии и помогать животным, которых ранее отправляли в Россию или Литву.
    В первые годы работы клиники мы открыли свою лабораторию, которая позволяет выполнять анализы крови
    за сорок минут и проводить многие другие исследования, стали выполнять УЗИ органов брюшной и грудной клетки собакам
    и кошкам, открыли рентген-кабинет с цифровым аппаратом, что позволяет нам получать снимки высокого качества за 2
    минуты.Уже длительное время мы занимаемся ветеринарной травматологией и ортопедией.</p>
   <p class="main_text"> В клинике есть все необходимое оборудование, расходные материалы (пластины любого размера) для того, чтобы составить перелом как маленькому
    тойчику или котенку, так и огромному догу. Наши специалисты первыми стали выполнять операцию ТПЛО и ТТА при лечении
    разрыва передней крестообразной связки у собак и кошек. Также мы проводим рентгенологическое обследование по раннему
    обнаружению дисплазии тазобедренного сустава у собак.В рядах клиники также находятся узкие врачи-специалисты. Компетентный
    онколог, который прошел стажировку в ветеринарной клинике «Биоконтроль» и получил удостоверение государственного образца.
    Офтальмолог, у которого есть все необходимое оборудование для диагностики патологии глаза у собаки или кошки.
    Невролог-хирург, который сможет купировать эпилептический приступ у собаки и прооперировать позвоночник при грыже
    дисков у собаки.В 2016 году, когда нам стало тесно в помещении на Каховской, мы всей командой переехали на новый
    адрес – переулок Козлова 1, где начали дальнейший свой профессиональный рост.С начала 2017 года мы начали выполнять
    лапароскопические операции – это операция без разрезов, когда все хирургические маневры выполняются под контролем
    камеры в брюшной полости. Это качественно новый этап в проведении операционных вмешательств у животных, за счет
    отсутствия разрезов значительно уменьшается травматизм операции, и животное легче восстанавливается.УЗИ сердца
    собакам и кошкам (ЭХОКГ) и электрокардиограмму мы проводим каждому пациенту перед наркозом, так как грамотная
    работа сердца – это необходимое условие безопасного наркоза. Кроме того, кардиолог сможет назначить дальнейшее
    лечение Вашему любимцу.В нашей клинике вы найдете ВСЕ ВИДЫ ВЕТЕРИНАРНЫХ УСЛУГ: от комплексной ветеринарной
    диагностики до эффективного лечения.</p>

</div>

{% endblock %}