{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Программа "Личный ветеринар" {% endblock %}
{% block content %}
<h1 class="main_h">Программа "Личный ветеринар"</h1>

<div class="content">
<p class="main_text">Наверняка многие из нас, устали от случайных ветврачей, лишних назначений и
    обследований, пропущенных вакцинаций и обработок, хотели бы иметь опытного и
    высококвалифицированного личного ветеринарного врача, который, зная особенности
    поведения Вашего питомца и особенности его организма, мог определить оптимальную
    схему лечения, назначить необходимые обследования и анализы, следить за плановыми
    вакцинациями, вести учет обработок, подбирать и корректировать питание. А хотели бы,
    чтобы его помощь была доступна онлайн или по телефону?Все это можно получить по программе
    "Личный ветеринар".</p>
   <p class="main_text"> Программа:
Ежегодная диспансеризация (комплексное обследование организма). Мониторинг здоровья  питомца с использованием всего спектра диагностического и лечебного оборудования нашего центра;
Консультации узких специалистов: стоматолог, кардиолог, репродуктолог, онколог, хирург, офтальмолог, дерматолог;
Качественная ветеринарная помощь на протяжении 12 месяцев;
Ведение протоколов вакцинации;
Непрерывное наблюдение за здоровьем питомца, что позволяет фиксировать заболевание на ранней стадии и гарантирует эффективность лечения;
Выезд ветеринарного врача на дом, в пределах Минска;
Учет плановых обработок от гельминтов и эктопаразитов;
Помощь в поиске ветеринарных препаратов и их аналогов;
Экономия времени и средств (долгосрочное ветеринарное обслуживание по годовым договорам предусматривает значительные преимущества по сравнению с разовыми и экстренными обращениями к специалистам, позволяет обойтись без визита к специалисту, если в этом нет необходимости и получить помощь).
Ветеринарная помощь в непредвиденной ситуации.
Заключение договора
Заключение договора на 12 месяцев.
Предоставление оформленного ветеринарного паспорта на питомца с отметкой о чипировании.
Клинический осмотр питомца.
Паспорт владельца животного.
После заключения договора  и внесение предоплаты клиенту выдается: экземпляр договора на оказание ветеринарных услуг.</p>

</div>

{% endblock %}