{% extends 'main/layout.html' %}


{% block content %}
<h1>Отзывы</h1>

        <div class="content_review">
            <div class="content_review_child">
        {% if reviews %}
        {% for el in reviews %}

                    <div>
                        {{el.name}}
                        {{el.description}}
                        <a href="{% url 'reviews_delete' el.id %}"> <button class="btn btn-outline-success">Удалить отзыв</button></a>
                    </div>
        {% endfor %}


        {% else %}
            <p>В данный момент отзывов нет</p>
        {% endif %}

        </div>

        {% if user.is_authenticated %}
            <div class="content_review_child">
                <p>Оставить свой отзыв</p>
        <form method="post">
            {% csrf_token %}
                       <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
                 <button type="submit" class="btn btn-primary">Отправить</button>

           </form>
                </div>
       {% endif %}
        </div>
{% endblock %}